@page
@model Rolodex.Pages.Employee.Index
@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<p>
    <a asp-page="CreateEdit" asp-page-handler="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Job Title
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var rowIndex = 0;
        }
        @foreach (var item in Model.Data.Employees)
        {
            <tr>
                <td>
                    <display-tag for="Data.Employees[rowIndex].Id" />
                </td>
                <td>
                    <display-tag for="Data.Employees[rowIndex].FirstName" />
                </td>
                <td>
                    <display-tag for="Data.Employees[rowIndex].LastName" />
                </td>
                <td>
                    <display-tag for="Data.Employees[rowIndex].JobTitle" />
                </td>
                <td>
                    <display-tag for="Data.Employees[rowIndex].Email" />
                </td>
                <td>
                    <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            rowIndex++;
        }
    </tbody>
</table>
