@page
@model Rolodex.Pages.CompanyBranch.Index
@{
    ViewData["Title"] = "Company Branches";
}

<h2>Branches</h2>

<p>
    <a asp-page="CreateEdit" asp-page-handler="Create">Add New Company Branch</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Branch Id
        </th>
        <th>
            Branch Name
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
    </tr>
    </thead>
    <tbody>
    @{
        var rowIndex = 0;
    }
    @foreach (var item in Model.Data.CompanyBranches)
    {
        <tr>
            <td>
                <display-tag for="Data.CompanyBranches[rowIndex].Id" />
            </td>
            <td>
                <display-tag for="Data.CompanyBranches[rowIndex].Name" />
            </td>
            <td>
                <display-tag for="Data.CompanyBranches[rowIndex].City" />
            </td>
            <td>
                <display-tag for="Data.CompanyBranches[rowIndex].State" />
            </td>
            <td>
                <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        rowIndex++;
    }
    </tbody>
</table>
